<header 
    class="absolute top-0 left-0 right-0 bg-white px-10 z-50 shadow-header header--sticky:fixed"
    x-bind="header"
>
    <div class="flex items-center justify-between py-4 2xl:py-0 ">
        {% if this.theme.header_logo %}
        <div class="relative">
            <picture>
                <img src="{{ this.theme.header_logo | media }}" class="w-full max-h-8" alt="">
            </picture>
            <a href="/" class="absolute inset-0 z-10"></a>
        </div>
        {% else %}
        <a href="/" class="flex-shrink-0 flex-grow-0 mr-8 font-nunito font-extrabold text-2xl text-clr-heading tracking-tighter">
            Cellar
        </a>
        {% endif %}
        {% partial 'components/menu' %}
    </div>
</header>