{% from "components/modal" import footer as modalFooter %}

<section class="relative 2xl:shape-one 2xl:shape-two py-16">
    <div class="container flex flex-col">
        <div class="prose text-center mx-auto mb-14">
            {{ data.title | raw }}
        </div>
        <ul class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for item in data.items %}
            <li 
                class="group px-4 pb-12"
                x-data="modal"
            >
                <article class="w-full h-full">
                    <div class="relative flex flex-col h-full bg-white rounded-md py-10 px-5 transition-all duration-300 ease-out shadow-card z-10 before:absolute before:bottom-0 before:left-0 before:w-full before:h-0 before:duration-500 before:bg-black before:-z-10 before:rounded-md group-hover:before:h-full">
                        <div class="prrose max-w-none prose-headings:text-2xl mb-5 transition-all duration-200 ease-in-out group-hover:text-white">
                            {{ item.title | raw }}
                        </div>
                        <picture>
                            <img 
                                src="{{ item.image | media }}" 
                                alt=""
                                class="bg-bs-pink w-24 h-24 rounded-full shadow-image mb-12" 
                                width="96px"
                                height="96px"
                            >
                        </picture>
                        <div class="prose max-w-none mb-3 transition-all duration-200 ease-in-out group-hover:text-white">
                            {{ item.caption | raw }}
                        </div>
                        <a 
                            class="before:absolute before:inset-0 before:cursor-pointer mt-auto mb-0"
                            href="{{ item.link }}" 
                            x-bind="btnOpen"
                        >
                            <span class="relative font-jost font-medium text-base-text-bs-black before:absolute before:bg-bs-pink before:w-full before:h-0.5 before:-bottom-3 transition-all duration-200 ease-in-out group-hover:text-white">Подробнее</span>
                        </a>
                    </div>
                    {% partial "components/modal" 
                        title=item.title 
                        body 
                        footer=modalFooter(item.tags) 
                    %}
                        {{ item.description | raw }}
                    {% endpartial %}
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>